<% songs.each do |song| %>
  <tr>
    <td><%= link_to song[:title], edit_song_path(song[:model]), class: "edit_song_link", id: ("req_review" if review) %></td>

    <% if super_admin %>
      <td><%= link_to 'Remove', song[:model], method: :delete, data: { confirm: 'Are you sure?' }, class: "remove_song_link" %></td>
    <% end %>

    <td><div class="last_edited"><%= (super_admin ? '' : "last edited by: ") + (song[:model][:last_editor] || 'System') %></div></td>

    <% if song[:edit_timestamp] %>
      <td><div class="edit_timestamp"><%= time_ago_in_words(song[:edit_timestamp]) %> ago</div></td>
    <% end %>
  </tr>
<% end %>