<div class="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in_facebook" %>
    <% #link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in_google" %>
  <% end %>
</div>