<h1 class="admin-root-title">
  <%= link_to "Example Song", '_self', onclick: 'window.close();' %>
</h1>

<%= react_component(
    'SongForm',
    song: @song,
    languages: Song.languages,
    exampleForm: true) %>