<div class="note">Note: Stanza numbers and chords will be out of alignment. To create a printable songsheet, you will need to copy this text into an editor and reformat it according to your preference.</div>
<div class="note">Look out for comments in the lyrics (lines that start with #). It is good to format them differently to the song (e.g. italics, grey color, etc).</div>
<div class="note">Ctrl + A is a quick way to select all text. This grey text will not be selected.</div>
<%= react_component('SongPrint', lyrics: @song.lyrics) %>