
<div id='song-list' class='title-list'>

</div>

<script>
  let onDrag = (e) => {
    let draggedElement = e.target
    let dropTarget = document.elementFromPoint(e.clientX, e.clientY) || draggedElement;
    let droppingOnSibling = draggedElement.parentNode === dropTarget.parentNode;

    draggedElement.classList.add("dragging");
    if (droppingOnSibling) {
      let draggingDownwards = dropTarget == draggedElement.nextSibling;
      if (draggingDownwards) {
        dropTarget.after(draggedElement);
      } else {
        dropTarget.before(draggedElement);
      }
    }
  }

  let onDrop = (e) => {
    e.target.classList.remove("dragging");
    e.preventDefault();
  }

  let createSongElement = (songData) => {
    let song = document.createElement('div');
    song.classList.add('draggable-song');
    song.setAttribute('draggable', true);
    song.textContent = songData[1];

    song.addEventListener("dragend", onDrop);
    song.addEventListener("drag", onDrag);
    song.addEventListener("dragover", (e) => e.preventDefault());

    return(song);
  }

  // Show the index number, updating live with the dragging
  // Click remove to remove from list
  // Search for songs to add to list
  // Click song to add to end of list
  // Other form components like emails of those who can edit, title, etc

  // ---------------------------------------------------------------------------------------------------------------------
  // DUMMY DATA

  let list = document.getElementById('song-list');
  let songs = [
    ['1234', 'According to my earnest'],
    ['1423', 'Never did I dream before'],
    ['3251', 'I am a tree with roots by the river'],
    ['412', 'Something every heart is loving'],
    ['3251421', 'New day, new start, oh I love the Lord'],
  ];
  songs.forEach((songData) => {
    let song = createSongElement(songData);
    list.appendChild(song)
  });
  songs.forEach((songData) => {
    let song = createSongElement(songData);
    list.appendChild(song)
  });
  songs.forEach((songData) => {
    let song = createSongElement(songData);
    list.appendChild(song)
  });
  songs.forEach((songData) => {
    let song = createSongElement(songData);
    list.appendChild(song)
  })

  // ---------------------------------------------------------------------------------------------------------------------

</script>
