<%= render 'nav' %>
<%= render 'flash' %>

<h1>Songbase Admin</h1>

<div class="new-book-btn">
    <%= link_to 'New Book', '/books/admin/new', class: "new_book_link" %>
</div>

<%=
  react_component(
    'AdminBookList',
    { books: @books.map(&:app_entry) }
  )
%>