<%= render 'nav' %>
<%= render 'flash' %>

<h1>Songbase Admin</h1>

<div class="new-song-btn">
  <% if super_admin %>
    <%= link_to 'Books Admin', '/books/admin', class: "new_song_link" %>
  <% end %>
</div>

<%= react_component(
  'AdminSongDisplay',
  { songs: @songs.map(&:admin_entry), book: @book },
  superAdmin: super_admin,
  settings: {
    languages: Song.languages
  })
%>