.admin-comment {
  margin: -10px 0 20px 0;
  color: grey;
  font-size: 80%;
  font-style: italic;
}

.btn {
  width: 100%;
  padding: 10px 50px;
  background-color: #d4d4d4;
  border-radius: 5px;
  text-decoration: none;
}

.btn-delete {
  background-color: #ff4d4d;
}

.btn-update {
  background-color: #90ee93;
}

.admin-root-title {
  margin-bottom: 45px;
  text-align: center;
}

.last_edited, .edit_timestamp {
  font-style: italic;
  font-size: 80%;
  color: grey;
  margin-left: 25px;
}

.requires-review-changed {
  color: green;
  &:hover {
    color: lightgreen;
  }
}

.requires-review-duplicate {
  color: red;
  &:hover {
    color: lightred;
  }
}

.edit_song_link, .new_song_link, .remove_song_link {
  padding: 4px 2px;
  display: block;
}

.new_song_link {
  padding: 10px 2px;
}

.admin_table {
  width: 100%;
  & td {
    padding: 0;
  }
}

.flash_link {
  color: #4646fd;
}