.last_edited, .edit_timestamp {
  font-style: italic;
  font-size: 80%;
  color: grey;
  margin-left: 25px;
}

.edit_song_link.req_review {
  color: green;
  &:hover {
    color: lightgreen;
  }
}

.edit_song_link, .new_song_link, .remove_song_link {
  padding: 4px 2px;
  display: block;
  text-decoration: none;
  color: #333;
  &:hover {
    background-color: #333;
  }
  &:visited {
    color: none;
  }
}

.new_song_link {
  padding: 10px 2px;
}

.remove_song_link, .new_song_link {
  &:visited {
    color: #333;
  }
  &:hover {
    color: white;
  }
}

.admin_table {
  & td {
    padding: 0;
  }
}