.user_nav {
  text-align: right;
}

#sign_in_facebook {
  padding: 10px;
  background-color: #4167B2;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#sign_in_google {
  padding: 10px;
  background-color: #dd4b39;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#sign_out {
  margin-left: 10px;
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 5px;
  text-decoration: none;
}

.book-icon {
  position: absolute;
  left: 24px;
  top: 22px;
  height: 24px;
  width: 22px;
  border-radius: 2px;
  border-top-left-radius: 6px;
  background-color: #ccc;

  & > div {
    position: absolute;
    left: -3px;
    top: 2px;
    height: 26px;
    width: 19px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: #ccc;
  }
}

.book-icon-close{
  margin-top: -5px;
  margin-left: -5px;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border: 1px solid white;
  border-radius: 12px;

  .book-icon-close-x1 {
    height: 10px;
    width: 1px;
    margin-left: 5px;
    margin-top: 1px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 1;
  }
  .book-icon-close-x2 {
    height: 10px;
    width: 1px;
    background-color: white;
    transform: rotate(-90deg);
    z-index: 2;
  }
}