.user_nav {
  text-align: right;
}

.sign_in_google {
  width: 200px;
  padding: 0;
  display: inline-block;
  background: none;
  border: none;
  img {
    width: 100%;
  }
}

#sign_out {
  margin-left: 10px;
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 5px;
  text-decoration: none;
}

.book-icon {
  cursor: pointer;
  position: absolute;
  left: 24px;
  top: 22px;
  height: 24px;
  width: 22px;
  border-radius: 2px;
  border-top-left-radius: 6px;
  background-color: var(--ui-color);

  & > div {
    position: absolute;
    left: -3px;
    top: 2px;
    height: 26px;
    width: 19px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: var(--ui-color);
  }

  & .book-icon-marker {
    border-color: var(--background);
  }
}

.book-icon-close{
  margin-top: -5px;
  margin-left: -5px;
  width: 12px;
  height: 12px;
  background-color: var(--ui-color);
  border: 1px solid white;
  border-radius: 12px;

  .book-icon-close-x1 {
    height: 10px;
    width: 1px;
    margin-left: 5px;
    margin-top: 1px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 1;
  }
  .book-icon-close-x2 {
    height: 10px;
    width: 1px;
    background-color: white;
    transform: rotate(-90deg);
    z-index: 2;
  }
}