.user_nav {
  text-align: right;
}

#sign_in_facebook {
  padding: 10px;
  background-color: #4167B2;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#sign_out {
  margin-left: 10px;
  padding: 10px;
  background-color: #d4d4d4;
  border-radius: 5px;
  text-decoration: none;
}