.lang-label {
  display: inline;
  padding-left: 5px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.lang-label:hover {
  font-size: 1.05rem;
  cursor: pointer;
}

.contact-footer {
  padding-top: 3em;
}

.reset-cache-container {
  margin-left: 20px;

  button {
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    color: black;
    background-color: white;
    width: 100px;
    text-align: center;
    border: 1px grey solid;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: lightgrey;
    }
  }

  .counter {
    color: grey;
  }
}

.radio-btns {
  margin-left: 20px;
  input {
    display: none;
  }
  label {
    &:hover {
      cursor: pointer;
    }
    display: inline-block;
    width: 100px;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 12px;
    border: 1px grey solid;
    border-radius: 8px;
    &.demo-css-normal {
      background-color: white;
      color: black;
    }
    &.demo-css-night {
      background-color: black;
      color: white;
    }
  }
}

.app-settings-btn:hover {
  font-size: 1.05rem;
}
