.index_row {
  padding: 5px 8px;
  font-size: 120%;

  &:active {
    background-color: #333;
    color: white;
  }
  &:hover{
    font-weight: bold;
    cursor: pointer;
  }
  &:nth-child(even) {
    background-color: #F2F2F2;
  }
}

.index_row_ref {
  display: block;
  margin: 4px 0;
  font-size: 14px;
  color: grey;
}

.search-form {
  margin-bottom: 10px;
  text-align: center;
}

.settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}
