.song-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  div {
    grid-column: 1 / -1; // full width default
  }

  div.form, div.preview {
    grid-column: span 1;
  }
}

.song-form-textbox {
  min-height: 500px;
  width: 90%;
  height: 98%;
  padding-left: 8px;
  padding-top: 5px;
  resize: none;
  border-color: lightgrey;
  border-radius: 6px;
}

.song-form-title {
  width: 100%;
  margin-bottom: 19px;
  padding: 6px;
  font-size: 120%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  background: none;
}

.actions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &> * {
    width: 200px;
    box-sizing: border-box;
  }
}