.index_row {
  padding: 5px 8px;
  font-size: 120%;

  &:active {
    background-color: #333;
    color: white;
  }
  &:hover{
    font-weight: bold;
    cursor: pointer;
  }
  &:nth-child(even) {
    background-color: #F2F2F2;
  }
}

.index_row_tag {
  display: block;
  margin: 4px 0;
  font-size: 14px;
  color: grey;
}

.search-form {
  position: relative;
  width: fit-content;
  margin: 0 auto 10px auto;
  text-align: center;
  .index_search {
    padding-right: 25px;
  }
  .btn_clear_search {
    position: absolute;
    right: -4px;
    top: -2px;
    padding: 5px 10px;
    color: #aaa;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}



.settings-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}
