div[data-react-class='SongDisplay'] {
    display: initial;
}

.lyrics {
    width: 90%;
    margin-bottom: 50px;
    margin-left: 40px;
    display: block;
    text-align: left;

    span.comment {
        color: darkgray;
        font-size: 90%;
    }
    span.chord {
        display: inline-block;
        height: 34px;
        width: 0px;
        color: $blue;
    }
    .line {
        min-height: 12px;
    }

    .line-text {
        vertical-align: bottom;
    }

    .chorus {
        margin-left: 25px;
        margin-top: 10px;
        & ~ .chorus {
            margin-top: 0;
        }
    }

    .verse-number {
        position: absolute;
        margin-left: -25px;
    }
}

[data-uncopyable-text]::after {
    content: attr(data-uncopyable-text);
}