.song-app {
  max-width: 380px;
  margin: auto;
  padding: 0 5px;
  text-align: center;

  & > * {
    text-align: left;
  }
}

.home-title {
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.loading {
  text-align: center;
  opacity: 1;
  animation: fade 2s linear infinite;
}


@keyframes fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}