.index_row {
  padding: 5px 0px;
  font-size: 120%;

  &:active {
    background-color: #333;
    color: white;
  }
  &:hover{
    font-weight: bold;
    cursor: pointer;
  }
}

.search-form {
  margin-bottom: 10px;
  text-align: center;
}
