.song-app {
  max-width: 380px;
  margin: auto;
  padding: 0 5px;
  text-align: center;

  & > * {
    text-align: left;
  }
}

.home-title {
  margin-inline: 40px;
  font-size: 1.8em;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.loading {
  text-align: center;
  opacity: 1;
  animation: fade 2s linear infinite;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  margin-top: calc(50vh - 20px);
  font-size: 1.2em;
}


@keyframes fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}