.song-form-textbox {
  min-height: 500px;
  width: 450px;
  height: 98%;
  padding-left: 8px;
  padding-top: 5px;
  margin-top: 19px;
  resize: none;
  border-color: lightgrey;
  border-radius: 6px;
}

.song-form-title {
  width: 40%;
  padding: 6px;
  font-size: 18px;
  border: none;
  background: none;
}