.song-form-textbox {
  min-height: 500px;
  width: 80%;
  height: 98%;
  padding-left: 8px;
  padding-top: 5px;
  resize: none;
  border-color: lightgrey;
  border-radius: 6px;
}

.song-form-title {
  width: 100%;
  margin-bottom: 19px;
  padding: 6px;
  font-size: 18px;
  border: none;
  background: none;
}