.song-references {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 50px;
  margin-left: 20px;
  color: #AAA;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}