@import "variables",
        "components/*",
        "scaffolds";

body {
  background-color: white;
}

.application-container {
  max-width: 800px;
  margin: auto;
  padding: 20px 30px;
  background-color: white;

  @media (max-width: 400px) {
    padding: 20px 10px;
  }
}

h4 {
  display: inline-block;
}

.centered {
  text-align: center;
}

.centered > * {
  text-align: left;
}

.bottom-nav-buttons {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}