@import "variables",
        "components/*",
        "scaffolds";


@media(min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media(max-width: 499px){
  html {
    font-size: 16px;
  }
}
body {
  background-color: white;
  font-size: 100%;
}

.application-container {
  max-width: 800px;
  margin: auto;
  padding: 20px 30px;
  background-color: white;

  @media (max-width: 400px) {
    padding: 20px 10px;
  }
}

h4 {
  display: inline-block;
}

h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

.centered {
  text-align: center;
}

.centered > * {
  text-align: left;
}

.bottom-nav-buttons {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}