.body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  margin: 33px;
}

input, textarea, select, button {
  font-size: 100%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 80%;
}

a {
  color: #333;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: #333;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #41ab19;
  background-color: #ddeadd;
}

#alert {
  color: #f70505;
  background-color: #ffd1d1;
}

#notice, #alert {
  padding: 20px;
  border-radius: 5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 100%;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 100%;
    list-style: square;
  }
}

label {
  display: block;
}