/* normal theme: */
body {
  --text: #333;
  --background: white;
  --title: #333;
  --index-row-bg: #F2F2F2;
  --chord: #1f45ff;
  --link-color: #333; // found at the bottom of user settings page
  --comment-color: #aaa;
  --ui-color: #ccc;
}


/* night theme: */
body.css-night {
  --text: white;
  --background: black;
  --title: #ccc;
  --index-row-bg: #222;
  --chord: #aaa;
  --link-color: #aaa;
  --comment-color: #aaa;
  --ui-color: #aaa;
}
