// Colour palette from paletton.com
$color-primary-0: #882D61;  // Main Primary color */
$color-primary-1: #F8E0EE;
$color-primary-2: #C87CA7;
$color-primary-3: #49032B;
$color-primary-4: #0A0006;

$color-complement-0: #7B9F35; // Main Complement color */
$color-complement-1: #F5FDE5;
$color-complement-2: #CBE890;
$color-complement-3: #3A5504;
$color-complement-4: #080C00;


$chord-color: #1f45ff;