h1.centered Privacy

p This website is designed for the enjoyment and sharing of psalms, hymns, and spiritual songs. No profit is generated, and no user data is given or sold to any third party.

p For the sake of adding and editing songs, we require a confirmed email address so that we can restrict use to anyone abusing the site.

p These email addresses are stored only to identify which user has edited a song, and may be used in the future to create black/white lists of users able to edit songs.

p We hope that all users of this site can greatly benefit from the service it provides. If you have any further questions, please email #{mail_to 'songbase.brothers@gmail.com'}