<!DOCTYPE html>
<html>
  <head>
    <title>Songbase</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="TlQoX8xDk-how420mw18VwxYHHhMHggJoNqWfiZGKbA" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="application-container">
      <%= yield %>
    </div>
  </body>
</html>
